*{
    margin: 0;
    paddign: 0;
    box-sizing: border-box;
}

/*shared style*/

.btn{
    background-color: #30B868;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
}
.btn_2{
    background-color: transparent;
    padding: 12px 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
}




/* main style */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.main_cointainer{
    width: 83%;
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 36px 0;
}

.main_header .menu ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
}

.menu li a{
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}



/* hero area style start */

#hero{
    background: url("../images/bnr.jpg");
    padding: 50px 0;
    background-size: cover;
    background-repeat: none;

}
.hero_content{
    width: 770px;
    margin: 0 auto;
}
.icon_text{
    display: inline-flex;
    justify-content: center;  
    background-color: #FFF;
    color: #000;
    border-radius: 50px;
    padding: 8px 16px;
    align-items: center;

}
.icon_text img{
    width: 16px;
    height: 16px;
}
.icon_text h3{
    font-size: 16px;
    color: #30B868;
}

#hero h2{
    font-size: 72px;
    
}
#hero .hero_content{
    color: #fff;
    text-align: center;
    justify-content: center;
    
}
#hero .hero_content span{
    color: #30B868;
}

.hero_button{
    margin-top: 60px;
   text-align: center;
}


/* card_sectation style start */

.card_sectation .text_top {
    margin: 40px 0px;
    text-align: center;
}
.text_top h2{
    font-size: 48px;

}

.card_section{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card_section .card{
    padding: 20px;
    text-align: center;
    background: #fff;
    box-shadow: 0 2px 10px 2px #979899;

}
.card img{
    margin-top: 30px;
}
.card_section h4{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    padding: 15px 0;
}

.card_section p{
    font-style: 16px;
    font-weight: 400;
    color: #627382;
}