* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*shared style*/

.btn {
    background-color: #30B868;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
}
.btn:hover{
    background-color: #23583a;
}

.btn_2 {
    background-color: transparent;
    padding: 12px 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
}
.btn_2:hover {
    background-color: #30B868;
}

/* main style */

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


.main_cointainer {
    width: 83%;
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 36px 0;
}


.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo h2{
    font-weight: 900;
    font-style: bold;
    color: #30B868;
    font-size: 50px;
}
.logo p{
 
    font-size: 10px;
}
.logo img{
    width: 46px;
    height: 56px;
}

.main_header .menu ul {
    display: flex;
    list-style-type: none;
    gap: 32px;
}

.menu li a {
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

#hero{
    position: relative;
    background: url("../images/bnr.jpg") top/cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}

#hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.5);
}

#hero > *{
    position: relative;
    z-index: 1;
}


.hero_content {
    width: 770px;
    margin: 0 auto;
}

.icon_text {
    display: inline-flex;
    justify-content: center;
    background-color: #FFF;
    color: #000;
    border-radius: 50px;
    padding: 8px 16px;
    align-items: center;

}

.icon_text img {
    width: 16px;
    height: 16px;
}

.icon_text h3 {
    font-size: 16px;
    color: #30B868;
}

#hero h2 {
    font-size: 72px;

}

#hero .hero_content {
    color: #fff;
    text-align: center;
    justify-content: center;

}

#hero .hero_content span {
    color: #30B868;
}

.hero_button {
    margin-top: 60px;
    text-align: center;
}


/* card_sectation style start */

.card_sectation .text_top {
    margin: 40px 0px;
    text-align: center;
}

.text_top h2 {
    font-size: 48px;

}

.card_section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card_section .card {
    padding: 20px;
    text-align: center;
    background: #fff;
    box-shadow: 0 2px 10px 2px #979899;

}

.card img {
    margin-top: 30px;
}

.card_section h4 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    padding: 15px 0;
}

.card_section p {
    font-style: 16px;
    font-weight: 400;
    color: #627382;
}


/* the solutation style start */

.solution {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 120px 0;


}

.solution img {
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

.solution .solution_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    padding-right: 200px;
}

.solution_right h2 {
    font-size: 48px;
    color: #001931;
    font-weight: bold;

}

.solution_right h4 {
    font-size: 16px;
    color: #30B868;
    text-transform: uppercase;
    font-weight: normal;

}

.solution_right p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
    padding: 20px 0;

}

.solution_right ul {
    list-style: none;
    padding: 0px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #001931;
}


/* Ready to think section style start */

.Ready_think {
    background: #F7F6F2;
    padding: 80px 0;
    text-align: center;
    margin-bottom: 120px;
    border-radius: 10px;
}

.Ready_think h2 {
    font-size: 40px;
    font-weight: 700;
}

.Ready_think p {
    font-size: 16px;
    color: #627382;
    padding: 10px 0;
}

.Ready_think .btn {
    margin: 20px 0px 5px 0px;
}


footer {
    background: #001931;
    padding-top: 120px;
    padding-bottom: 60px;

}

.footer_coninteiner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.footer_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.footer_left h2{
      font-weight: 900;
    font-style: bold;
    color: #30B868;
    font-size: 50px;
}
.footer_left p{
    margin-top: -40px;
    font-size: 10px;
}
.footer_left img{
    width: 46px;
    height: 56px;
}
.footer_right h3, .fa-x-twitter, .fa-facebook, .fa-square-linkedin{
    color: white;
    padding-bottom: 10px;
}

footer hr{
    width: 83%;
    color: white;
  text-align: center;
  margin: 0 auto;

}
footer p{
    text-align: center;
    color: honeydew;
    padding-top: 30px;
}
